# Python
__pycache__/
# *.py[cod]
# env/
# .env*
# !.env.example

# Node
node_modules/
dist/

# Docker
*.log
docker-compose.override.yml

# Test coverage
.coverage
htmlcov/
.pytest_cache/
coverage.xml
.coverage.*

venv/